  <div class="sidebar" th:fragment="sidebar" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="head">
      <div class="logo">
        <img th:src="@{/img/cafe_codigo_logo.png}" alt="Café & Código | Cursos Presenciais e Online">

        <div class="social_media col-lg-12">
          <i class="fab fa-facebook"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-linkedin-in"></i>
        </div>

      </div>
      <span class="btn btn-danger">Bem-vindo(a), <br >Administrador!</span>
    </div>
    <div id="list">
      <ul class="nav flex-column">
        <li class="nav-item"><a th:href="@{/dashboard}" class="nav-link active" ><i class="fa fa-adjust"></i>Dashboard</a></li>
        <li class="nav-item"><a href="#menu3" class="nav-link collapsed" data-toggle="collapse"><i class="fa fa-graduation-cap"></i>Cursos<span class="sub-ico"><i class="fa fa-angle-down"></i></span></a></li>
        <li class="sub collapse" id="menu3">
            <a th:href="@{/curso/cadastrar}" class="nav-link" data-parent="#menu3"><i class="fa fa-angle-right"></i> Cadastrar</a>
            <a th:href="@{/curso/listar}" class="nav-link" data-parent="#menu3"><i class="fa fa-angle-right"></i> Listar</a>
        </li>

        <li class="nav-item"><a href="#menu4" class="nav-link collapsed" data-toggle="collapse"><i class="fa fa-users"></i>Turmas<span class="sub-ico"><i class="fa fa-angle-down"></i></span></a></li>
        <li class="sub collapse" id="menu4">
            <a th:href="@{/turma/cadastrar}" class="nav-link" data-parent="#menu4"><i class="fa fa-angle-right"></i> Cadastrar</a>
            <a th:href="@{/turma/listar}" class="nav-link" data-parent="#menu4"><i class="fa fa-angle-right"></i> Listar</a>
        </li>

        <li class="nav-item"><a href="#menu5" class="nav-link collapsed" data-toggle="collapse"><i class="fa fa-tasks"></i>Módulos<span class="sub-ico"><i class="fa fa-angle-down"></i></span></a></li>
        <li class="sub collapse" id="menu5">
            <a th:href="@{/modulo/cadastrar}" class="nav-link" data-parent="#menu5"><i class="fa fa-angle-right"></i> Cadastrar</a>
            <a th:href="@{/modulo/listar}" class="nav-link" data-parent="#menu5"><i class="fa fa-angle-right"></i> Listar</a>
        </li>

        <li class="nav-item"><a href="#menu6" class="nav-link collapsed" data-toggle="collapse"><i class="fa fa-user"></i>Alunos<span class="sub-ico"><i class="fa fa-angle-down"></i></span></a></li>
        <li class="sub collapse" id="menu6">
			<a th:href="@{/aluno/cadastrar}" class="nav-link" data-parent="#menu6"><i class="fa fa-angle-right"></i> Cadastrar</a>
			<a th:href="@{/aluno/listar}" class="nav-link" data-parent="#menu6"><i class="fa fa-angle-right"></i> Listar</a>
        </li>

        <li class="nav-item"><a href="#menu7" class="nav-link collapsed" data-toggle="collapse"><i class="fa fa-book"></i>Matérias<span class="sub-ico"><i class="fa fa-angle-down"></i></span></a></li>
        <li class="sub collapse" id="menu7">
            <a th:href="@{/materia/cadastrar}" class="nav-link" data-parent="#menu7"><i class="fa fa-angle-right"></i> Cadastrar</a>
            <a th:href="@{/materia/listar}" class="nav-link" data-parent="#menu7"><i class="fa fa-angle-right"></i> Listar</a>
        </li>

        <li class="nav-item"><a href="#menu8" class="nav-link collapsed" data-toggle="collapse"><i class="fa fa-file-alt"></i>Avaliações<span class="sub-ico"><i class="fa fa-angle-down"></i></span></a></li>
        <li class="sub collapse" id="menu8">
            <a th:href="@{/avaliacao/cadastrar}" class="nav-link" data-parent="#menu8"><i class="fa fa-angle-right"></i> Cadastrar</a>
            <a th:href="@{/avaliacao/listar}" class="nav-link" data-parent="#menu8"><i class="fa fa-angle-right"></i> Listar</a>
        </li>
      </ul>
    </div>
  </div>