<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/app.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">

  <link rel="apple-touch-icon" sizes="180x180" th:href="@{/icon/apple-touch-icon.png}">
  <link rel="icon" type="image/png" sizes="32x32" th:href="@{/icon/favicon-32x32.png}">
  <link rel="icon" type="image/png" sizes="16x16" th:href="@{/icon/favicon-16x16.png}">
  <link rel="manifest" th:href="@{/icon/site.webmanifest}">
  <link rel="mask-icon" th:href="@{/icon/safari-pinned-tab.svg}" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <title>Listar Turmas | Café & Código</title>
</head>
<body>
<section id="admin">
	<div class="sidebar">
		<div class="head">
		  <div class="logo">
        <img th:src="@{/img/cafe_codigo_logo.png}" alt="Café & Código | Cursos Presenciais e Online">

        <div class="social_media col-lg-12">
          <i class="fab fa-facebook"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-linkedin-in"></i>
        </div>
        
		  </div>
      <span class="btn btn-danger">Bem-vindo(a), <br >Administrador!</span>
		</div>
		<div id="list">
        <ul class="nav flex-column">
          <li class="nav-item"><a th:href="@{/dashboard}" class="nav-link" ><i class="fa fa-adjust"></i>Dashboard</a></li>
          <li class="nav-item"><a href="#menu3" class="nav-link collapsed" data-toggle="collapse"><i class="fa fa-graduation-cap"></i>Cursos<span class="sub-ico"><i class="fa fa-angle-down"></i></span></a></li>
          <li class="sub collapse" id="menu3">
            <a th:href="@{/curso/cadastrar}" class="nav-link" data-parent="#menu3"><i class="fa fa-angle-right"></i> Cadastrar</a>
            <a th:href="@{/curso/listar}" class="nav-link" data-parent="#menu3"><i class="fa fa-angle-right"></i> Listar</a>
          </li>
      
          <li class="nav-item"><a href="#menu4" class="nav-link collapsed active" data-toggle="collapse"><i class="fa fa-users"></i>Turmas<span class="sub-ico"><i class="fa fa-angle-down"></i></span></a></li>
          <li class="sub collapse" id="menu4">
            <a th:href="@{/turma/cadastrar}" class="nav-link" data-parent="#menu4"><i class="fa fa-angle-right"></i> Cadastrar</a>
            <a th:href="@{/turma/listar}" class="nav-link" data-parent="#menu4"><i class="fa fa-angle-right"></i> Listar</a>
          </li>
      
          <li class="nav-item"><a href="#menu5" class="nav-link collapsed" data-toggle="collapse"><i class="fa fa-tasks"></i>Módulos<span class="sub-ico"><i class="fa fa-angle-down"></i></span></a></li>
          <li class="sub collapse" id="menu5">
            <a th:href="@{/modulo/cadastrar}" class="nav-link" data-parent="#menu5"><i class="fa fa-angle-right"></i> Cadastrar</a>
            <a th:href="@{/modulo/listar}" class="nav-link" data-parent="#menu5"><i class="fa fa-angle-right"></i> Listar</a>
          </li>
      
          <li class="nav-item"><a href="#menu6" class="nav-link collapsed" data-toggle="collapse"><i class="fa fa-user"></i>Alunos<span class="sub-ico"><i class="fa fa-angle-down"></i></span></a></li>
          <li class="sub collapse" id="menu6">
            <a th:href="@{/aluno/cadastrar}" class="nav-link" data-parent="#menu6"><i class="fa fa-angle-right"></i> Cadastrar</a>
            <a th:href="@{/aluno/listar}" class="nav-link" data-parent="#menu6"><i class="fa fa-angle-right"></i> Listar</a>
          </li>
      
          <li class="nav-item"><a href="#menu7" class="nav-link collapsed" data-toggle="collapse"><i class="fa fa-book"></i>Matérias<span class="sub-ico"><i class="fa fa-angle-down"></i></span></a></li>
          <li class="sub collapse" id="menu7">
            <a th:href="@{/materia/cadastrar}" class="nav-link" data-parent="#menu7"><i class="fa fa-angle-right"></i> Cadastrar</a>
            <a th:href="@{/materia/listar}" class="nav-link" data-parent="#menu7"><i class="fa fa-angle-right"></i> Listar</a>
          </li>
      
          <li class="nav-item"><a href="#menu8" class="nav-link collapsed" data-toggle="collapse"><i class="fa fa-file-alt"></i>Avaliações<span class="sub-ico"><i class="fa fa-angle-down"></i></span></a></li>
          <li class="sub collapse" id="menu8">
            <a th:href="@{/avaliacao/cadastrar}" class="nav-link" data-parent="#menu8"><i class="fa fa-angle-right"></i> Cadastrar</a>
            <a th:href="@{/avaliacao/listar}" class="nav-link" data-parent="#menu8"><i class="fa fa-angle-right"></i> Listar</a>
          </li>
          </ul>
		</div>
	  </div>

  <div class="content">
    <div class="head">
		<div class="top">
		  <div class="left">
			<button id="on" class="btn btn-info"><i class="fa fa-bars"></i></button>
			<button id="off" class="btn btn-info hide"><i class="fa fa-align-left"></i></button>
		  </div>
  
		  <div class="right">
			<div class="dropdown">
			  <button class="btn btn-info dropdown-toggle" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administrador</button>
			  <div class="dropdown-menu" aria-labelledby="userDropdown">
			   <a class="dropdown-item" href="#">Meu perfil</a>
			   <a class="dropdown-item" href="#">Configurações</a>
			   <a class="dropdown-item" href="#">Sair</a>
			 </div>
			</div>
		  </div>
		</div>
  
		<div class="bottom">
		  <div class="left">
			<h1>Listar Turmas</h1>
		  </div>
		  <div class="right">
			<h1>dashboard / </h1>
			<a th:href="@{/turma/listar}">Listar Turmas</a>
		  </div>
		</div>
	  </div>

    <div id="real">
      <div id="forms">
        <div class="wrap card">
        	<section class="app-content">
        		<div class="row">
        			<div class="col-lg-12">
                                <p class="m-b-lg docs">
                                    A tabela abaixo lista todos os registros de turmas cadastrados no sistema. Utilize os botões na coluna Ações para <strong>atualizar</strong> ou <strong>excluir</strong> algum registro.
                                </p>
                                <div class="table-responsive">
                                    <table class="table table table-striped table-bordered">
                                        <tr>
                                            <th>ID</th>
                                            <th>Ano/Semestre</th>
                                            <th>Curso</th>
                                            <th>Data de Criação</th>
                                            <th>Turno</th>
                                            <th>Horário</th>
                                            <th>Status</th>
                                            <th>Ações</th>
                                        </tr>
                                        <tr th:each="turma : ${turmas}">
                                            <td th:text="${turma.id}"></td>
                                            <td th:text="${turma.anoSemestre}"></td>
                                            <td th:text="${turma.curso.nome}"></td>
                                            <td th:text="${turma.dataCriacao}"></td>
                                            <td th:text="${turma.turno}"></td>
                                            <td th:text="${turma.horario}"></td>
                                            <td th:text="${turma.status}"></td>
                                            <td>
                                                <a th:href="@{/turma/alterar/{idTurma}(idTurma=${turma.id})}" class="btn btn-warning"><i class="fa fa-edit"></i></a>
                                                <a th:href="@{/turma/excluir/{idTurma}(idTurma=${turma.id})}" class="btn btn-danger"><i class="fa fa-trash-alt"></i></a>
                                            </td>
                                        </tr>
                                    </table>
                            </div>
        			</div>
        		</div>
        	</section>
        </div>
      </div>
    </div>
  </div>
</section>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/tether.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/highcharts.js}"></script>
<script th:src="@{/js/chart.js}"></script>
<script th:src="@{/js/app.js}"></script>
</body>
</html>