<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/app.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">

  <link rel="apple-touch-icon" sizes="180x180" th:href="@{/icon/apple-touch-icon.png}">
  <link rel="icon" type="image/png" sizes="32x32" th:href="@{/icon/favicon-32x32.png}">
  <link rel="icon" type="image/png" sizes="16x16" th:href="@{/icon/favicon-16x16.png}">
  <link rel="manifest" th:href="@{/icon/site.webmanifest}">
  <link rel="mask-icon" th:href="@{/icon/safari-pinned-tab.svg}" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <title>Listar Matérias | Café & Código</title>
</head>
<body>
<section id="admin">
   <th:block th:insert="/../fragments/sidebar.html :: sidebar" />

  <div class="content">
    <div class="head">
		<div class="top">
		  <div class="left">
			<button id="on" class="btn btn-info"><i class="fa fa-bars"></i></button>
			<button id="off" class="btn btn-info hide"><i class="fa fa-align-left"></i></button>
		  </div>
  
		  <div class="right">
			<div class="dropdown">
			  <button class="btn btn-info dropdown-toggle" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administrador</button>
			  <div class="dropdown-menu" aria-labelledby="userDropdown">
			   <a class="dropdown-item" href="#">Meu perfil</a>
			   <a class="dropdown-item" href="#">Configurações</a>
			   <a class="dropdown-item" href="#">Sair</a>
			 </div>
			</div>
		  </div>
		</div>
  
		<div class="bottom">
		  <div class="left">
			<h1>Listar Matérias</h1>
		  </div>
		  <div class="right">
			<h1>dashboard / </h1>
			<a th:href="@{/materia/listar}">Listar Matérias</a>
		  </div>
		</div>
	  </div>

    <div id="real">
      <div id="forms">
        <div class="wrap card">
        	<section class="app-content">
        		<div class="row">
        			<div class="col-lg-12">
                                <p class="m-b-lg docs">
                                    A tabela abaixo lista todos os registros de matérias cadastrados no sistema. Utilize os botões na coluna Ações para <strong>atualizar</strong> ou <strong>excluir</strong> algum registro.
                                </p>
                                <div class="table-responsive">
                                    <table class="table table table-striped table-bordered">
                                        <tr>
                                            <th>ID</th>
                                            <th>Nome</th>
                                            <th>Descrição</th>
                                            <th>Professor</th>
                                            <th>Módulo</th>
                                            <th>Ações</th>
                                        </tr>
                                        <tr th:each="materia : ${materias}">
                                            <td th:text="${materia.id}"></td>
                                            <td th:text="${materia.nome}"></td>
                                            <td th:text="${materia.desc}"></td>
                                            <td th:text="${materia.professor}"></td>
                                            <td th:text="${materia.modulo.nivel}"></td>
                                            <td>
                                                <a th:href="@{/materia/alterar/{idMateria}(idMateria=${materia.id})}" class="btn btn-warning"><i class="fa fa-edit"></i></a>
                                                <a th:href="@{/materia/excluir/{idMateria}(idMateria=${materia.id})}" class="btn btn-danger"><i class="fa fa-trash-alt"></i></a>
                                            </td>
                                        </tr>
                                    </table>
                            </div>
        			</div>
        		</div>
        	</section>
        </div>
      </div>
    </div>
  </div>
</section>

<th:block th:insert="~{/fragments/footer-scripts :: footer-scripts}"></th:block>

</body>
</html>
