<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/app.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">

  <link rel="apple-touch-icon" sizes="180x180" th:href="@{/icon/apple-touch-icon.png}">
  <link rel="icon" type="image/png" sizes="32x32" th:href="@{/icon/favicon-32x32.png}">
  <link rel="icon" type="image/png" sizes="16x16" th:href="@{/icon/favicon-16x16.png}">
  <link rel="manifest" th:href="@{/icon/site.webmanifest}">
  <link rel="mask-icon" th:href="@{/icon/safari-pinned-tab.svg}" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <title>Café & Código | Página Inicial</title>
</head>
<body>
<section id="admin">
   <th:block th:insert="/../fragments/sidebar.html :: sidebar" />

  <div class="content">
    <div class="head">
    
		<th:block th:insert="/../fragments/nav.html :: navbar" />

      <div class="bottom">
        <div class="left">
          <h1>dashboard</h1>
        </div>
        <div class="right">
          <h1>dashboard</h1>
          <!-- <a href="#">page name</a> -->
        </div>
      </div>
    </div>

    <div id="real">
      <div class="row">
        <div class="col-lg-2">
          <div class="analytics">
            <div class="card">
              <div class="icon"><i class="fa fa-graduation-cap"></i></div>
              <div class="text">
                <h1>0</h1>
                <p>Cursos</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="analytics">
            <div class="card">
              <div class="icon"><i class="fa fa-users"></i></div>
              <div class="text">
                <h1>0</h1>
                <p>Turmas</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="analytics">
            <div class="card">
              <div class="icon"><i class="fa fa-tasks"></i></div>
              <div class="text">
                <h1>0</h1>
                <p>Módulos</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="analytics">
            <div class="card">
              <div class="icon"><i class="fa fa-user"></i></div>
              <div class="text">
                <h1>0</h1>
                <p>Alunos</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="analytics">
            <div class="card">
              <div class="icon"><i class="fa fa-book"></i></div>
              <div class="text">
                <h1>0</h1>
                <p>Matérias</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="analytics">
            <div class="card">
              <div class="icon"><i class="fa fa-file-alt"></i></div>
              <div class="text">
                <h1>0</h1>
                <p>Avaliações</p>
              </div>
            </div>
          </div>
        </div>

        <!-- start Active Leads -->
        <div class="col-lg-7">
          <div id="leads">
            <div class="card">
              <h1 class="head">Turmas recentes</h1>
              <table class="table">
                <!-- start head -->
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Ano/Semestre</th>
                    <th>Curso</th>
                    <th>Data de Criação</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <!-- end head -->
                <!-- start body -->
                <tbody>
                  <!-- start rows -->
                  <tr th:each="turma : ${turmas}">
                    <td class="text-info" th:text="${turma.id}"></td>
                    <td th:text="${turma.anoSemestre}"></td>
                    <td th:text="${turma.curso.nome}"></td>
                    <td th:text="${turma.dataCriacao}"><span class="table-icon fa fa-calendar"></span> </td>
                    <td th:text="${turma.status}"></td>
                  </tr>
                </tbody>
              </table>
              <div class="col-lg-6" style="padding: 0;">
                <a th:href="@{/turma/listar}" class="btn btn-info btn-xs"><i class="fa fa-eye"></i> Lista de Turmas</a>
              </div>
            </div>
          </div>
        </div>
        <!-- end Active Leads -->

        <!-- start task card -->
        <div class="col-lg-5">
          <div id="active">
            <div class="card">
              <!-- <p class="head">Active user right now</p>
              <div class="info">
                <div class="col">
                  <h1>937</h1>
                  <p>users</p>
                </div>
                <div class="col">
                  <h1>82</h1>
                  <p>guests</p>
                </div>
              </div> -->
              <p class="head">Café & Código</p>
              <p>Na C&C preparamos os melhores cursos de tecnologia para nossos alunos!</p>
              <div class="aria">
                <p><i class="fa fa-angle-right"></i> Mobile, Programação e Front-end</p>
                <p><i class="fa fa-angle-right"></i> Infraestrutura, Design e UX e Data Science</p>
                <p><i class="fa fa-angle-right"></i> Marketing Digital, Inovação e Gestão de Negócios de TI</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<th:block th:insert="~{/fragments/footer-scripts :: footer-scripts}"></th:block>

</body>
</html>
