<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/app.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">

  <link rel="apple-touch-icon" sizes="180x180" th:href="@{/icon/apple-touch-icon.png}">
  <link rel="icon" type="image/png" sizes="32x32" th:href="@{/icon/favicon-32x32.png}">
  <link rel="icon" type="image/png" sizes="16x16" th:href="@{/icon/favicon-16x16.png}">
  <link rel="manifest" th:href="@{/icon/site.webmanifest}">
  <link rel="mask-icon" th:href="@{/icon/safari-pinned-tab.svg}" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <title>Cadastro de Aluno | Café & Código</title>
</head>
<body>
<section id="admin">
   <th:block th:insert="/../fragments/sidebar.html :: sidebar" />

  <div class="content">
    <div class="head">
		<th:block th:insert="/../fragments/nav.html :: navbar" />
  
		<div class="bottom">
		  <div class="left">
			<h1>Cadastro de Aluno</h1>
		  </div>
		  <div class="right">
			<h1>dashboard / </h1>
			<a th:href="@{/aluno/cadastrar}">Cadastro de Aluno</a>
		  </div>
		</div>
	  </div>

    <div id="real">
      <div id="forms">
        <div class="wrap card">
        	<section class="app-content">
        		<div class="row">
        			<div class="col-lg-12">
        				<form th:object="${aluno}" th:action="@{/aluno/salvar}" method="POST" class="form-horizontal">
							<div class="form-group row">
									<!-- <div class="col-lg-1 mb-1-5em">
										<input  class="form-control" id="idAluno" type="number" placeholder="1" readonly>
									</div> -->
	
									<div class="col-lg-6 mb-1-5em">
										<input  type="text" id="control-demo-1" placeholder="Nome" class="form-control" th:field="*{nome}" autofocus="autofocus">
									</div>
	
									<div class="col-lg-6 mb-1-5em">
										<input  type="email" id="control-demo-1" placeholder="Email" class="form-control" th:field="*{email}" autofocus="autofocus">
									</div>

									<div class="col-lg-5 mb-1-5em">
										<input  type="text" id="control-demo-1" placeholder="Endereço" class="form-control" th:field="*{end}" autofocus="autofocus">
									</div>
	
									<div class="col-lg-4 mb-1-5em">
										<input  type="tel" id="control-demo-3" placeholder="Telefone" class="form-control" th:field="*{telefone}" autofocus="autofocus">
									</div>
									
									<div class="col-lg-3 mb-1-5em">
                                            <select class="form-control" th:field="*{turma}" autofocus="autofocus">
												<option value="" selected>Selecione a Turma</option>
												<option th:each="turma : ${turmas}" th:value="${turma.id}" th:text="${turma.anoSemestre}"></option>
                                            </select>
                                    </div>
							</div>
							<div class="div_btn_acoes">
								<button type="submit" class="btn btn-primary btn-xs"><i class="fa fa-plus-circle"></i> Cadastrar</button>
								<a th:href="@{/aluno/listar}" class="btn btn-info btn-xs"><i class="fa fa-eye"></i> Lista de Alunos</a>
								<a th:href="@{/dashboard}" class="btn btn-danger btn-xs">Cancelar</a>	
							</div>
						</form>
        			</div>
        		</div>
        	</section>
        </div>
      </div>
    </div>
  </div>
</section>

<th:block th:insert="~{/fragments/footer-scripts :: footer-scripts}"></th:block>

</body>
</html>
